/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/images/background.jpg'); /* 可以替换为您喜欢的背景图片 */
    background-size: cover;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* 修改宽度为400px */
    max-width: 100%;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* 使内边距包含在宽度内 */
}

button {
    background-color: #5c67f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a54e1;
}

p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

a {
    color: #5c67f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: #FF0000;
    font-size: 14px;
    margin-bottom: 20px;
}